html {
background: linear-gradient(90deg, rgba(34,190,36,1) 0%, rgba(121,89,9,0.5007656967840735) 41%, rgba(0,212,255,1) 100%);
  
}

h1 {
    text-align: left;
}

div {
    text-align: left;
    align-items: left;
    margin: auto;
}
button {
    border: 2px solid gray;
    border-radius: 20px;
    background-color: gray;
    color: blanchedalmond;
    cursor: pointer;
}
button:hover {
    background-color : red;
} 